
// 商品出品機能ページの記入または選択ボックス
@mixin box($height:3vh){
  width: 100%;
  height: $height;
  line-height: 1.2;
}

// 商品出品ページの区切り線
@mixin line {
border-bottom: 1px;
border-bottom-color: #efefef;
border-bottom-style: solid;
}

@mixin button ($background-color: red) {
color: #ffffff;
background-color:$background-color;
width: 100%;
line-height: 200%;
font-weight: bold;
border: none;
outline: none;
border-radius: 10px;
cursor: pointer;
}

@mixin must {
color: white;
background-color: red;
font-size: small;
}
