//以下繰り返し使用コード

h2 {
  margin-top:20px;
  // font-weight: bold;
}

span {
  color: white;
  background-color: red;
  font-size: small;
}

// 以下本文

.Sell {
  background-color: #dbedf0;
  width: 100%;
  height: 100%;
  
  .Header {
    &__logo {
      margin: 0 auto;
      text-align: center;
      padding: 20px 0;
    }   
  }
  
  .Products {
    background-color: #ffffff;
    margin: 0 50px;
    padding: 20px;
    &__image {
      margin-top: 20px;
      &__save {
        background-color: #dbedf0;
        text-align: center;
        display: block;
        padding: 50px 0;
        border-style: dotted;
        border-color: #dddddd;
        color: black;
        font-size: small;
      }
    }
    &__name {
      &__input {
        &__box {
          @include box;
        }
      }
    }
    &__info {
      padding: 20px 0;
      @include line;
      &__input {
        &__box{
          @include box(10vh)
        }
      }
    }
    &__category {
      &__input {
        &__select{
          @include box;
        }
      } 
    }

    &__brand {
      &__input {
        &__box {
          @include box;
        }
      }
    }
    &__conditions{
      padding: 20px 0;
      @include line;
      &__input{
        &__box{
          @include box;
        }
      }
    }
    &__deliveryCharge {
      &__select {
        &__box{
          @include box;
        }
      }
    }
    &__deliveryLocation {
      &__select {
        &__box {
          @include box;
        }
      }
    }
    &__shippingDay{
      padding: 20px 0;
      @include line;
      &__select {
        &__box{
          @include box;
        }
      }
    }
    &__price {
      &__title{
      }
      .Sub-title {      
        &__included {
          // &__yen{
          // }
          &__input {
            float: right;
            text-align: right;
          }
        }
      }
      .Yen {
        display: flex;
        justify-content: flex-end;
        padding: 0 5px;
        font-size: 20px;
      }
    }
    &__fees{
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include line;
      &__title {
        &__hyphen{
        }
      }
    }
      &__profits{
        padding: 20px 0;   
        display: flex;
        justify-content: space-between;
        align-items: center;

      &__title {
        &__hyphen {

        }
      }
    }
  }
  .Button {
    &__sell {
      padding: 20px 0;
      align-items: center;
      &__button {
        @include button;
      }
    }
    &__save {
      &__button{
        margin: 20px 0;
        @include button(grey)
      }
    }
    &__return {
      text-align: center;
    }
  }

  .Footer {
    &__logo {
      margin: 0 auto;
      text-align: center;
      padding: 20px 0;
    }
  }
}
