$lightgray:lightgray;

#btn{
  color: #333;
  text-decoration: none;
  line-height: 32px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 18px;
  padding-right: 35px;
}

#btnc:hover,#btn:hover{
  color: #ffb340;
}


#btnc{
  color: #333;
}

.nav--lisleft--item--display--parent,.nav--lisleft--item--display--child,.nav--lisleft--item--display--granchild{
  display: none;
}


.tree{
  position: absolute;
  background-color: white;
  z-index: 2;
  // height: 700px;
}

.nav--lisleft--item--display--child--name{
  width: 100%;
  color: black;
  display: inline-block;
  padding: 3px 15px;
  font-size: 11px;
  letter-spacing: 2px;
}

.nav--lisleft--item{
  padding-bottom: 10px;
  &:hover{
    .nav--lisleft--item--display--parent{
      display: block;
      &--name{
        width: 100%;
        color: black;
        display: inline-block;
        padding: 5px 20px;
        font-size: 13px;
        letter-spacing: 4px;
      }
      li {
        &:hover{
          .nav--lisleft--item--display--child{
            width: 100%;
            display: block;
            top: 0;
            left: 221px;
            li {
              &:hover{
                .nav--lisleft--item--display--granchild{
                  width: 300px;
                  display: block;
                  top: 0;
                  left: 220px;
                }
              }
            }
          }
        }
      }
    }
  }
}
