#btn{
  color: #333;
  text-decoration: none;
  line-height: 32px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 18px;
  padding-right: 30px;
}

#btn:hover{
  color: #ffb340;
}

#btnc{
  color: #333;
}

li.nav--lisleft--item > .display{
  opacity: 0;
}
li.nav--lisleft--item > .tree:hover{
  opacity: 1;
}

.tree{
  z-index:2;
  position: absolute;
  background-color: #fff;
  top: 40px;
  display: flex;
  &--catetree{
    flex-direction: column;
    width: 240px;
  }
}