.item-num{
  &-0{
  width: 100%;
  }
  &-1{
    width: 450px;
  }
  &-2{
    width: 337px;
  }
  &-3{
    width: 222px;
  }
  &-4{
    width: 111px;
  }
}
#image-box-1{
display: flex;
}
#image-box_container{
  width: 100%;
  height: 110px;
}
.item-image{
  border: 1px solid #ffffff;
  &__content{
    margin-bottom: 10px;
  }
  &__operetion--delete{
    color: #3CCACE;
  }
}
.input-area{
  width: 100%;
  height: 122px;
  border: 1px solid black;
  text-align: center;
  background-color: #6BCBF6;
  &-icon{
    margin-top: 50px;
  }
}