// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


*{
  box-sizing: border-box;
}

.apple{
  width: 180px;
  display: block;
  &--aimage{
    margin-top: 10px;
    width:165px;
    height: 61px;
    vertical-align: bottom;
  }
}

.google{
  width: 180px;
  display: block;
  &--gimage{
    width:175px;
    height: 80px;
    vertical-align: bottom;
  }
}

.image{
  width: 100%;
  vertical-align: bottom;
}


p{
  font-size: 10px;
  text-align: left;
}

.top{
  padding: 0 60px;
  &--inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &--main{
      position: relative;
      display: flex;
      align-items: center;
      &--icon{
        padding-bottom: 5px;
        margin-right: 30px;
        border-radius: 4px;
        &--a{
          width: 140px;
          display: block;
        }
      }
      &--searchbox{
        margin-left: auto;
        width: 100%;
        &--form{
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          &--input{
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
          &--button{
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;
          }
        }
      }
    }
  }
}


.nav{
  font-size: 14px;
  display: flex;
  margin-bottom: 10px;
  &--lisleft{
    position: relative;
    display: flex;
    &--item{
      text-decoration: none;
      line-height: 38px;
      padding: 0 16px 0 0;
      
      &--second{
        padding: 0 0 0 16px;
        line-height: 38px;
      }
    }
  }
  &--lisright{
    margin-left: auto;
    display: flex;
    &--item{
      color: #333;
      line-height: 38px;
      padding: 0 0 0 16px;
    }
  }
}

.main{
  background-color: #f8f8f8;
}

.firstinfo{
  width: 100%;
  height: 560px;
  background-image: image-url('bg-mainVisual-pict_pc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: flex;
  align-items: center;
  &--content{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0 0 0;
    &--title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 60px;
      line-height: 1.2;
      color: #fff;
    }
    &--text{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 0 0;
    }
    &--button{
      display: flex;
      margin: 24px 0 0 0;
      &--a{
        margin-right: 10px;
      }
      &--g{
        margin-right: 10px;
      }
    }
  }
}

.reason{
  padding: 60px 20px;
  &--title{
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }
  &--title::after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &--list{
    text-align: center;
    display: flex;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    &--lis{
      width: 30%;
      margin: 16px 5% 0 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      &--picture{
        position: relative;
        margin-bottom: 20px;
        &--number{
         display: inline-block;
         position: absolute;
         top: 0;
         left: 0;
         border-radius: 4%;
         font-size: 30px;
         text-align: center;
         margin: 0 5px 0 0;
         padding: 10px 20px;
         background-color: #3CCACE;
         color: #fff; 
        }
      }
      &--text{
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
        &--span{
          color: #3CCACE;
        }
      }
      &--descript{
        font-size: 18px;
        line-height: 1.5;
        margin-top: 16px 0 0;
      }
    }
  }
}

.lislas{
  margin: 16px 0 0;
}

.secondinfo{
  background-image: image-url('bg-topMiddleDl-pict.jpg');
  background-position: bottom right;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
  &--inner{
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: left;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    &--title{
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
    }
    &--text{
      font-size: 18px;
      margin: 20px 0 30px;
      line-height: 1.5;
    }
    &--button{
      display: flex;
      &--a{
        margin-right: 10px;
      }
    }
  }
}

.feature{
  padding: 60px 100px;
  background-color: #fff;
  &--top{
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 40px;
    padding-bottom: 15px;
    position: relative;
  }
  &--top::after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &--cates{
    max-width: calc(1040px + 20px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    &--itm{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      text-align: center;
      padding: 0 20px;
      &--photo{
        width: 70%;
        margin: 0 auto;
        line-height: 120px;
      }
      &--title{
        margin: 38px 0 10px;
        font-size: 19px;
        font-weight: bold;
      }
      &--detail{
        margin: 0 0 40px;
        font-size: 17px;
        font-weight: 200;
        text-align: left;
      }
    }
  }
}

.catgbratitle{
  font-weight: bold;
}

.category{
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
  &--top{
    text-align: center;
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
  }
  &--topall{
    text-align: center;
    font-size: 40px;
    line-height: 1.4;
    font-weight: bold;
    color: #3CCACE;
  }
  &--prodboxs{
    &--topper{
      text-align: center;
      &--link{
        font-size: 24px;
        text-decoration: none;
        color: #3CCACE;
      }
    }
    &--lisall{
      width: 1150px;
      margin: 26px auto;
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
    }
    &--lis{
    width: 700px;
    margin: 26px auto;
    display: flex;
    justify-content: space-around;
    &--product{
      width: 220px;
      display: inline-block;
      float: left;
      background-color: #fff;
      text-decoration: none;
      margin: 1px;
      &--image{
        width: 220px;
        height: 150px;
        position: relative;
        overflow: hidden;
        margin: 0;
        z-index: auto;
      }
      &--body{
        background-color: white;
        color: #333;
        padding: 16px;
        &--name{
          overflow: hidden;
          line-height: 1.5;
          font-size: 16px;
          text-align: left;
        }
        &--detail{
          font-size: 16px;
        }
      }
    }
    }
  }
}

.category:last-child{
padding-bottom: 80px;
}

.detaillist{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image--pro{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: auto;
  height: 150px;
  object-fit: cover;
}

.staricon::before{
  content: "\f005";
}

.thirdinfo{
  background-image: image-url('bg-appBanner-pict.jpg');
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &--inside{
    color: #fff;
    text-align: center;
    &--title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &--text{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &--icon{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
    }
  }
}

.footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &--contents{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &--content{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &--head{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      &--link{
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }
  &--logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    &--c{
      font-size: 14px;
    }
  }
}

.sellicon{
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &--text{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &--image{
    width: 60%;
  }
}

.items-box_photo__sold{
  width: 0;
  height: 0;
  border-top: 60px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  z-index: 1;
  position: relative;
  top:-321px;
  &__inner{
    transform: rotate(-45deg);
    font-size: 28px;
    margin:-35px 0px 0px -55px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}

.items-box_photo__mini{
  width: 0;
  height: 0;
  border-top: 60px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  z-index:100;
  position: relative;
  top: 0;
  &__inner{
    transform: rotate(-45deg);
    font-size: 28px;
    margin:-35px 0px 0px -55px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
  }
}