// scss_fleamarket

.Sell {
  background-color: #dbedf0;
  width: 100%;
  height: 10%;
  
  .Header {
    &__logo {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 60px;
    }   
  }
  
  .Products {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    &__form {
      padding: 20px 0;
      font-weight: bold;
      &__notification{
        color: red;
        margin-bottom: 5px;
      }
      &__images {
        margin-top: 20px;
        span {
          @include must;
        }
        &__box{
          &__previews{
          // 写真背景装飾あとで
          // background-color: #dbedf0;
          // text-align: center;
          // display: block;
          // padding: 50px 0;
          // border-style: dotted;
          // border-color: #dddddd;
          // color: black;
          // font-size: small;
            &__group {
              &__jsFile{
                // 選択ボタン消す（あとで）
                // width:100px;
                // font-size:12px;
                // color:#FFFFFF;
                // text-align:center;
                // display:block;
                // padding:10px 0 10px;
                // background:#6BCBF6;
                // border-radius: 20px;
                // display: none;
              }
              // 削除ボタンあとで
              &__jsRemove{
                width:50px;
                font-size:12px;
                color: black;
                text-align:center;
                display:block;
                // padding:10px 0 10px;
                background:#6BCBF6;
                // border-radius: 20px;   
                background-color: #dbedf0;
                cursor: pointer;
              }
            } 
          }
        }
      }
      .Image__input__button{
        display: block;
        background-color: #dbedf0;
        width: 180px;
        height: 30px;
        margin-top: 10px;
        margin-left: 10px;
      }

      &__name {
        font-weight: bold;
        span {
          @include must;
        }
      }
      &__entry {
        @include box;
      }
    
      &__info {
      padding: 20px 0;
      font-weight: bold;
        span {
          @include must;
        }
      }
      &__infoInput{
        padding-bottom: 20px;
        @include box(10vh);
        @include line;

      }
      &__category {
        span {
          @include must;
        }
      }
      
      &__brand {
        padding-top: 20px;
        span {
          color: white;
          background-color: grey;
          font-size: small;
        }
      }
      &__brandSelect {
        @include box;
      }
      
      &__condition {
        padding: 20px 0;
        font-weight: bold;
        span {
          @include must;
        }
      }
      &__conditionSelect {
        @include box;
      }

      &__deliveryCharge {
        padding: 20px 0;
        font-weight: bold;
        span {
          @include must;
        }
      }

      &__deliveryFrom {
        padding: 20px 0;
        font-weight: bold;
        span {
          @include must;
        }
      }
      &__deliveryFromSelect {
        @include box;         
      }

      &__shippingDay {
        padding: 20px 0;
        font-weight: bold;
        @include line;
        span {
          @include must;
        }
      }
      &__shippingDaySelect {
        @include box;
      }
      &__price {
      }
      &__sales {
        span {
          @include must;
        }
      }
      &__yen {
        display: flex;
        justify-content: flex-end;
        align-items: right;
        font-size: 20px;
        padding: 0 5px;
        &__box{
          margin-left: 10px;
        }
      }
    }
  } 
  .Submit {
      margin-top: 20px;
      align-items: center;
      @include button;
  }
  .Return {
    text-align: center;
    padding-bottom: 10px;
    a{
      color: black;
    }
  }
  .Footer {
    &__logo {
      margin: 0 auto;
      text-align: center;
      padding: 20px 0;
    }
  }
}

.parent_category_box{
  width: 100%;
  height: 3vh;
  line-height: 1.2;
} 

.item_input__body__category{
  &__children--select,&__grandchildren--select{
  width: 100%;
  height: 3vh;
  line-height: 1.2;
  }
}




.none {
  // display: none;
}