// scss_fleamarket



.Sell {
  background-color: #dbedf0;
  width: 100%;
  height: 100%;
  
  .Header {
    &__logo {
      margin: 0 auto;
      text-align: center;
      padding: 20px 0;
    }   
  }
  
  .Products {
    background-color: #ffffff;
    margin: 0 50px;
    padding: 20px;
    &__form {
      padding: 20px 0;
      font-weight: bold;
      &__notification{
        color: red;
        margin-bottom: 5px;
      }
      &__images {
        margin-top: 20px;
        span {
          @include must;
        }
        &__save {
          background-color: #dbedf0;
          text-align: center;
          display: block;
          padding: 50px 0;
          border-style: dotted;
          border-color: #dddddd;
          color: black;
          font-size: small;
          .file-icon {
            display: none;
          }
        }
      }
      &__name {
        font-weight: bold;
        span {
          @include must;
        }
      }
      &__entry{
        @include box;
      }
    
      &__info {
      padding: 20px 0;
      font-weight: bold;
        span {
          @include must;
        }
      }
      &__infoInput{
        padding-bottom: 20px;
        @include box(10vh);
        @include line;

      }
      &__category {
        span {
          @include must;
        }
      }
      &__categorySelect{
        @include box;
      }
      
      &__brand {
        padding-top: 20px;
        span {
          color: white;
          background-color: grey;
          font-size: small;
        }
      }
      &__brandSelect {
        @include box;
      }
      
      &__condition {
        padding: 20px 0;
        font-weight: bold;
        span {
          @include must;
        }
      }
      &__conditionSelect{
        @include box;
      }

      &__deliveryCharge {
        padding: 20px 0;
        font-weight: bold;
        span {
          @include must;
        }
      }
      &__deliveryChargeSelect{
        @include box;
      }

      &__deliveryFrom {
        padding: 20px 0;
        font-weight: bold;
        span {
          @include must;
        }
      }
      &__deliveryFromSelect {
        @include box;         
      }

      &__shippingDay {
        padding: 20px 0;
        font-weight: bold;
        @include line;
        span {
          @include must;
        }
      }
      &__shippingDaySelect {
        @include box;
      }
      &__price {
      }
      &__sales {
        span {
          @include must;
        } 
      }
      &__yen {
        display: flex;
        justify-content: flex-end;
        align-items: right;
        font-size: 20px;
        padding: 0 5px;
      }
    }
  } 
  .Submit {
      margin-top: 10px;
      align-items: center;
      @include button;
  }
  .Return {
    text-align: center;
    a{
      color: black;
    }
  }
  .Footer {
    &__logo {
      margin: 0 auto;
      text-align: center;
      padding: 20px 0;
    }
  }
}


