a {
  display: block;
}

.anjleicon {
  float: right;
}

.mypage-main {
  padding: 50px 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  &__container {
    background-color: #f8f8f8;
    width: 840px;
  }
  &__side {
    width: 250px;
    min-width: 150px;
    margin-right: 50px;
    &__text {
      padding: 15px 0 5px 0;
      font-size: 18px;
      font-weight: bold;
    }
    &__lists {
      
      &__list {
        margin-bottom: 2px;
        height: 50px;
        max-width: 250px;
        min-width: 150px;
        background-color: whitesmoke;
        line-height: 50px;
        padding-left: 5px;
        transition: 0.5s;
      }
      &__list:hover {
        background-color: rgb(235, 235, 235);
      }
    }
  }

  &__header {
    max-width: 840px;
    margin: 0 auto;
    background-image: url("sand.jpg");
    background-size: cover;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.911);
    &__image {
      background-size: cover;
      border-radius: 50%;
      width: 180px;
      height: 180px;
    }
    &__nickname {
      font-size: 36px;
      font-weight: bold;
      margin-top: 10px;
      border-bottom: cadetblue 3px solid;
    }
    &__count {
      font-size: 20px;
      padding-top: 20px;

    }
  }

  &__items {
    margin: 30px auto ;
    text-align: center;
    max-width: 840px;
    background-color: whitesmoke;
    &__name {
      font-size: 30px;
      font-weight: bold;
      color: rgba(17, 17, 17, 0.945);
      padding-top: 20px;
    }
    &__lists {
      display: flex;
      max-width: 100vw;
      padding: 0 60px 20px 60px;
      justify-content: start;
      flex-wrap: wrap; 
      &__list {
        margin: 30px 20px;
        &__mini {
          width: 0;
          height: 0;
          border-top: 60px solid #ea352d ;
          border-right: 60px solid transparent;
          border-bottom: 60px solid transparent;
          border-left: 60px solid #ea352d ;
          z-index: 1;
          position: absolute;
          &__inner {
            transform: rotate(-45deg);
            font-size: 28px;
            margin:-30px 0px 0px -55px;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 600;
          }
        }
        &__image {
          height: 200px;
          width: 200px;
        }
        &__body {
          height: 100px;
          background-color: white;
          &__name {
            font-size: 20px;
            padding: 5px;
          }
          &__text {
            display: flex;
            justify-content: space-between;
            width: 200px;
            padding:10px 10px;
          }
        }
        
      }
    }
  }
}


.black{
  color: black;
}