.thirdinfo
  .thirdinfo--inside
    .thirdinfo--inside--title だれでもかんたん、人生を変えるフリマアプリ
    .thirdinfo--inside--text 今すぐ無料ダウンロード
    .thirdinfo--inside--icon
      = link_to ("#"),{ class:"apple"} do
        = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", alt: "#N/A", id: "assets", class: "apple--aimage"
      = link_to ("#"),{ class:"google"} do
        = image_tag "google-play-badge.png", alt: "#N/A", id: "assets", class: "google--gimage"