<%# <h1>Items#index</h1>
<p>1</p>
<p>Find me in app/views/items/index.html.erb</p> %>
<body>
  <div class="top">
    <div class="top-inner">
      <div class="top-inner_main">
        <h1 class="top-inner_main-icon">
          <a href ="#">
            <%= image_tag "logo.png", alt: "#N/A", id: "assets", class: "image" %>
          </a>
        </h1>
        <div class="top-inner_main-searchbox">
          <form action="#" accept-charset="UTF-8" method="get" class=top-inner_main-searchbox_form>
            <%# <input name="utf8" type="hidden" value="✔︎"> %>
            <input class="top-inner_main-searchbox_form--input" id="searchInput" name="key" placeholder="キーワードから探す">
            <button type="submit" class="top-inner_main-searchbox_form--button">
              <div class="top-inner_main-searchbox_form--button__icon">
                <%= image_tag "icon-search 1.png", alt: "#N/A", id: "assets", class: "image" %>
              </div>
            </button>
            <%# <input type="hidden" name="authenticity_token" value=""> %>
          </form>
        </div>
      </div>
      <div class="nav">
        <ul class="nav-listsleft">
          <li class="nav-listsleft_item">カテゴリー</li>
          <li class="nav-listsleft_item--second">ブランド</li>
        </ul>
        <ul class="nav-listsright">
          <li class="nav-listsright_item">ログイン</li>
          <li class="nav-listsright_item">新規会員登録</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="first_info"></div>
    <div class="reason"></div>
    <div class="second_info"></div>
    <div class="feature"></div>
    <div class="category"></div>
    <div class="brand"></div>
  </div>
  <div class="third_info"></div>
  <div class="footer"></div>
  <a href ="#">
    <div class="sellicon"></div>
  </a>
</body>