-# 以下パンくずのコード
%nav.root
  %ul.root--category
    %li.root--category--name
      = link_to root_path,{class:"root--category--name--link"} do
        FURIMA
    %li.root--category--logo >
    %li.root--category--name
      = link_to categories_path,{class:"root--category--name--link"} do
        カテゴリー一覧