.item_input__body

  .item_input__body__category#category_box
    .pulldown#partent_box
      = form.select :category_id, options_for_select( @category_parent_array.map{|c| [c[:category_name], c[:id]]}),{include_blank: "選択してください"}, { class: "parent_category_box", id: "parent_category"}
      = icon('fa', 'chevron-down')

      .pulldown.item_input__body__category__children#children_box
        -#親カテゴリー選択によって子カテゴリー表示
      .pulldown.item_input__body__category__grandchildren#grandchildren_box
        -#子カテゴリー選択によって孫カテゴリー表示