.Sell
  .Header
    .Header__logo
      =link_to items_path do
        =image_tag "logo.png", width: '20%', alt: "FURIMA"
  -# メイン
  .Products
    -# 画像保存
    .Products__image 
      %b出品画像     
      %span 必須
      %br 最大2枚までアップロードできます
      
      -# 画像保存機能実装
      =link_to "#", class: "Products__image__save" do
        =icon('fas', 'camera')
        %br ファイルをアップロード

    .Products__form
      = form_with model: @product, local:true do |form|
        .Products__form__name  
          =form.label :"商品名"
          %span 必須
          =form.text_field :name, class: "Products__form__entry", placeholder: "40文字まで"
        .Products__form__info 
          =form.label :"商品の説明"
          %span 必須
          =form.text_field :information, class: "Products__form__infoInput",placeholder: "商品の説明（必須 300文字以内)（色、素材、重さ、定価、注意点など）"
            
        .Products__form__category
          -# セレクタ実装
          =form.label :"カテゴリー"
          %span 必須
          =form.select :category, {'メンズ':1, 'レディース':2}, {include_blank: '選択してください'},{class:"Products__form__categorySelect", required: true}

        .Products__form__brand
          =form.label "ブランド"
          %span 任意
          =form.text_field :brand, class:"Products__form__brandSelect", placeholder: '例)シャネル'

        .Products__form__condition
          =form.label "商品の状態"
          %span 必須
          =form.select :condition, {'新品、未使用':1, '未使用に近い':2, '目立った傷や汚れなし':3, 'やや傷や汚れあり':4, '傷や汚れあり':5, '全体的に状態が悪い':6}, {include_blank: '選択してください'}, { class:"Products__form__conditionSelect", required: true}

        .Products__form__deliveryCharge
          =form.label "送料の負担"
          %span 必須
          =form.select :delivery_charge, {'送料込み(出品者負担)':1, '着払い(購入者負担)':2}, {include_blank: '選択してください'}, {class:"Products__form__ deliveryChargeSelect", required: true}

        .Products__form__deliveryFrom
          =form.label "発送元地域"
          %span 必須
          =form.collection_select :prefecture_id, Prefecture.all, :id, :name, {class: "Products__form__deliveryFromSelect"}

        .Products__form__shippingDay
          =form.label "発送日数"
          %span 必須
          =form.select :shipping_day, {'1~2日で発送':1, '2~3日で発送':2, '4~7日で発送':3}, {include_blank: '選択してください'}, {class:"Products__form__shippingDaySelect", required: true}

        .Products__form__price
          価格(300~9,999,999)
          =link_to "#" do
            =icon('far', 'question-circle')
        .Product__form__sales
          =form.label "販売価格"
          %span 必須
        .Products__form__yen
          ¥
          =number_field_tag :price, ''
        =form.submit "出品する", class: "Submit"

        -# 余裕があれば実装（手数料計算、下書き保存）
        -# .Products__form__fees 販売手数料(10%)
        -# .Products__form__profits 販売利益

        -# =form_with model: @sell do |form|
        -#   =form.submit "下書きに保存"

    .Return
      =link_to "もどる", items_path 
    
  .Footer 
    .Footer__logo
      =link_to items_path do
        =image_tag "logo-white.png", width: '20%', alt: "FURIMA"
